body{
    text-align: center;
    background-color: rgb(83, 141, 83);
    color: white;
    font: normal 15pt Arial
}

h1{
    margin:auto;
    padding:5px;
}

header{
    padding: 5px;
    float: left;
    display: inline;
    width: 100%;
    height: auto;
}

section{
    justify-content: center;
}



input{
    font: normal 12pt Arial;
    border-radius: 15px;
    border: none;
    display: flexbox;
    justify-content: center;
}

i{
    font: bold 20pt Arial;
}

a{
    color: white;
}

div{
    text-align: center;
    justify-content: center;
}


table{
    font: normal 12pt Arial;
    width: 80%;
    margin: auto;
    color: white;
    background-color: black;
    border-color: gray;
    border-collapse: collapse;
    border-radius: 15px;
    padding: 50px;
    border-bottom: 2px solid gray;
}